@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --light: #f1f2f3;
  --dark: #212121;
  --powder: #bfd8d2;
  --peach: #fedcd2;
  --warm: #df744a;
  --lemon: #e8c664;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--powder);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

.app-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.app-container .header {
  padding: 30px 0;
}

.app-container .header h1 {
  color: var(--warm);
  font-weight: 700;
  font-size: 35px;
}

.app-container .main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-container .main .form {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.app-container .main .form form {
  display: flex;
  width: 100%;
}

.app-container .main .form form input {
  display: flex;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  color: var(--dark);
  border: 1px solid var(--lemon);
  border-radius: 2px;
}

.app-container .main .form form input[type="text"] {
  width: 100%;
  padding: 7px 10px;
  margin-right: 5px;
}

.app-container .main .form form input[type="submit"] {
  padding: 7px 10px;
  font-weight: 700;
  cursor: pointer;
  color: var(--lemon)
}

.app-container .main .todos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-container .main .todos .todo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.app-container .main .todos .todo input {
  margin-right: 10px;
  cursor: pointer;
}

.app-container .main .todos .todo p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.app-container .main .todos .todo button {
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  color: var(--dark);
  border: 1px solid var(--warm);
  border-radius: 2px;
  padding: 6px 10px;
  font-weight: 700;
  cursor: pointer;
  color: var(--warm)
}

.error {
  text-align: center;
  background: var(--lemon);
  padding: 8px;
  border: 1px solid var(--warm);
  border-radius: 2px;
}

.error p {
  font-size: 14px;
  color: var(--light);
  line-height: 1.5
}
